
.moodTracker-block {
  width: 100vw;
  height: 100vh;
}
.backHome {
  position: absolute;
  left: 0;
  top: 0%;
}
.ButtonMoods {
  margin: 8px;
  border: none;
  outline: none;
  background-color: #6392b0 !important;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}
.ButtonMoods:hover {
  background: #edf5e1 !important;
  color: black;
}
.show {
  visibility: visible;
}
.notShow {
  display: none;
}
.boxClosed {
  top: 0;
  height: 0;
  width: 0;
  opacity: 0;
}
.boxOpened {
  top: 0;
  position: absolute;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.5s;
  background-color:beige;
}
.hideEmotion {
  opacity: 0;
}
.showEmotion {
  opacity: 1;
  transition: opacity 0.5s;
  margin-top: -5em;
  
}

.imageContainer{
  padding-right: 12em;
  width: 700px;
  /* border-style: dashed */
}
.MoodTitle{
  margin-top:1em;
  color: white;

}

.MoodSubtitle{
  margin-top:-5em;
  margin-left:-2.85em;
  font-size: 25px;
  font-weight: 300;
  padding-bottom:0.5em;
  width: 14em;
}

.pageTitle{
  padding-bottom:4em;
}

.graphButton{
  width:15%;
  float:left;
}